---
title: 'has chris finished his book yet?'
layout: 'layouts/page.html'
permalink: 'chirs/'
hasCodeBlocks: true
---

<p>There are {{ chris.total }} total chapters in the novel</p>

<p>Chris has finished {{ chris.done }} of them</p>

{% set remaining = chris.total - chris.done %}

<br>

{% if remaining > 0 %}

<h4>No, chris has not finished his book. He needs to finish {{remaining}} more chapters.</h4>

<p>He can do it and we believe in him, don't we folks</p>

{% else %}

<h4>Yes, chris has finished his book. Good job chris. We love to see it.</h4>

{% endif %}

<br>

{% set percentageDone = chris.done/chris.total * 100 %}
{% set percentageLeft = remaining/chris.total * 100 %}

<div class="progress-bar-container">
	<h3>Chris's status:</h3>
	<div class="progress-bar-outer">
		<div class="progress-bar-inner" style="width:{{percentageDone}}%">
			{{percentageDone}}%
		</div>
		<div class="progress-bar-remaining">{{percentageLeft}}% remaining</div>
	</div>
	<div style="height:16px"></div>
	<h3>Status of non-authors who aren't writing a dang novel</h3>
	<div class="progress-bar-outer">
		<div class="progress-bar-remaining">100% remaining</div>
	</div>
</div>
