---
title: 'has chris finished his book yet?'
layout: 'layouts/page.html'
permalink: 'chirs/'
hasCodeBlocks: true
---

<p>There are {{ chris.total }} total chapters in the novel</p>

<p>Chris has finished {{ chris.done }} of them</p>

{% set remaining = chris.total - chris.done %}

<br>

{% if remaining > 0 %}

<h4>No, chris has not finished his book. He needs to finish {{remaining}} more chapters.</h4>

<p>He can do it and we believe in him, don't we folks</p>

{% else %}

<h4>Yes, chris has finished his book. Good job chris. We love to see it.</h4>

{% endif %}

<div style="margin-left: 5%; margin-right: 5%">
<table class="charts-css bar multiple stacked show-labels show-heading show-primary-axis data-spacing-10 show-data-on-hover">
	<caption>novel writing status</caption>
	<tbody>
		<tr>
		  <th scope="row"> chris </th>
		  <td style="--size: calc({{chris.done}} / {{chris.total}}); --color: LightGreen"><span class="data">✅ {{chris.done}}%</span></td>
		  <td style="--size: calc({{remaining}} / {{chris.total}}); --color: LightSalmon"><span class="data">todo: {{remaining}}%</span></td>
		</tr>
		<tr>
		  <th scope="row"> non-authors </th>
		  <td style="--size: calc(0 / {{chris.total}});"></td>
		  <td style="--size: calc({{chris.total}} / {{chris.total}}); --color: LightSalmon"><span class="data">todo: {{chris.total}}%</span></td>
		</tr>
	</tbody>
</table>
</div>
